// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension
/{
    regulator_imu: regulator-imu {
        compatible = "regulator-fixed";
        regulator-name = "IMU_Regulator";
        enable-gpios = <&gpio1 8 (GPIO_ACTIVE_HIGH| NRF_GPIO_DRIVE_S0H1)>;
        startup-delay-us = <10000>;
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        regulator-boot-on;
        status = "okay";
    };

};



&i2c0 {
    compatible = "nordic,nrf-twim";
	/* Cannot be used together with spi0. */
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_FAST>;
    label = "I2C0";

    // imu: imu@6a{
    //     compatible = "st,lsm6dsx";
    //     reg = <0x6a>;
    //     label = "IMU";
    //     vdd-supply=<&regulator_imu>;
    //     vin-supply=<&regulator_imu>;
    //     vddio-supply=<&regulator_imu>;
    //     st,pullups;
    //     status = "okay";
        
    // };
    imu: imu@6a{
        compatible = "st,lsm6dsl";
        reg = <0x6a>;
        status="okay";
        vin-supply=<&regulator_imu>;
    };
};

&gpio1 {
    status = "okay";
};
